// colors
$black-500: #3a3a3a;
$black-600: #2d2d2d;
$black-700: #1f1f1f;
$black-800: #050505;
$black-900: #000000;

$gray-100: #e9e9e9;
$gray-500: #757575;

$white-100: #f4f4f4;
$white-900: #ffffff;

$red-500: #ff5252;
$violet-600: #a445ed;

// breakpoints
$breakpoints: (
  "tablet": 768px,
  "desktop": 1024px,
);
