@use "../abstracts" as *;

.vertical-separator {
  align-self: stretch;
  width: 1px;
  background: var(--contrast-separators);
}

.separator-line {
  display: block;
  background-color: var(--separators);
  height: rem(1);
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
